body, html {
    width: 100%;
    height: 100%;
    background: #fff8d9;
}

.event {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #b03537;
    font-weight: bold;
}

.inventory {
    padding: 10px;
    border: 5px solid #b03537;
    border-radius: 5px;
    background-color: #fffae5;
    color: #b03537;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.inventory strong {
    text-decoration: underline;
}

.icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
}

.imgWrap {
    display: block;
    text-align: center;
    margin: auto;
}